<div class="col-sm-12">
    <check if="{{ @renderLogin }}">
        <include href="templates/standardtheme/login/login.tpl" />
    </check>
    <check if="{{ @renderRegister }}">
        <include href="templates/standardtheme/login/register.tpl" />
    </check>
</div>