<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12" style="background:#00c4ff;padding-top: 250px; padding-bottom: 250px;">
         <center><h2>STARTSEITE-BILD-SLIDER</h2></center>
      </div>
   </div>
   <div class="row" style="border: 10px solid white;">
      <div class="col-sm-3" style="background:#00c4ff;padding-top: 150px; padding-bottom: 150px; border: 10px solid white;"></div>
      <div class="col-sm-3" style="background:#00c4ff;padding-top: 150px; padding-bottom: 150px; border: 10px solid white;"></div>
      <div class="col-sm-3" style="background:#00c4ff;padding-top: 150px; padding-bottom: 150px; border: 10px solid white;"></div>
      <div class="col-sm-3" style="background:#00c4ff;padding-top: 150px; padding-bottom: 150px; border: 10px solid white;"></div>
   </div>
</div>