@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

* {
	font-family: 'Maven Pro', sans-serif;
}

html, body {
	overflow-x: hidden;
}

#dropzone {
  margin-bottom: 3rem; }

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white; }
  .dropzone .dz-message {
    font-weight: 400; }
    .dropzone .dz-message .note {
      font-size: 0.8em;
      font-weight: 200;
      display: block;
      margin-top: 1.4rem; }


.navbar {
	background: #0f3250;
}


.navbar nav.main_navigation ul {
	padding: 0 70px;
	display: flex;
	justify-content: space-between;
}

.navbar .icon-list {
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
}

.navbar .icon-list li {
	padding-left: 30px;
	display: list-item;
}

.navbar nav.main_navigation ul li a {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	transition: all 150ms ease;
}

.navbar nav.main_navigation ul li a:hover, .navbar nav.main_navigation ul li a.active {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	transition: all 150ms ease;
}

.navbar .logo {
	width: 100%;
	margin-top: 20px;
}

.no-padding {
	padding: 0 !important;
}

.swiper-container .swiper-button-prev {
	left: 30px !important;
}

.swiper-container .swiper-button-next {
	right: 30px !important;
    
}

.swiper-pagination-bullet {
	border: 2px solid #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active, .swiper-pagination-bullet:hover {
    opacity: 1;
    background: #ffffff;
    border: 2px solid #202022;
    box-shadow: 0px 0px 0px 2px white;
}





.beratung .headbar {
    background: #fff;
    padding: 50px 0;
}

.beratung .headbar h1 {
    font-size: 2em;
    color: #20405c;
    font-family: 'Maven Pro', sans-serif;
}

.beratung .headbar h2 {
    font-size: 1em;
    color: #20405c;
    font-family: 'Maven Pro', sans-serif;
}

.beratung .lightblue_content {
    background: #eff2f5;
    padding: 15px 0;
}

.beratung .lightblue_content .person {
    border: 1px solid #d0d8e0;
    background: #fff;
    padding: 20px;
}

.beratung .lightblue_content .person h3.name {
    font-size: 1.5em;
    margin-bottom: 30px;
    font-weight: bolder;
    color: #20405c !important;
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
}

.beratung .lightblue_content .person img {
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.beratung .lightblue_content .person .name {
    color: #858687;
    text-align: center;
    margin-top: 20px;
    letter-spacing: -0.5px;
}

.beratung .lightblue_content .person .position {
    color: #858687;
    text-align: center;
    margin-top: -19px;      
}

.beratung .lightblue_content .person .info {
    color: #858687;
    text-align: center;
    margin-top: 0px;
}

.beratung .lightblue_content .person .education {
    color: #858687;
    text-align: center;
    margin-top: -19px;
}

.beratung .lightblue_content .person a.video {
    background: #eceeef;
    font-weight: bolder;
    color: #20405c;
    padding: 10px 20px;
    border-radius: 100px;
    text-align: center;
    display: block;
    margin-top: 50px;
}

.beratung .lightblue_content .person a.video i {
    color: #20405c;
}

.beratung .infobar a {
    background: #64829b;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.5em;
    border-radius: 100px;
    display: table;
    float: right;
    margin-top: 30px;
    text-decoration: none;
}


